@import url(http://fonts.googleapis.com/css?family=Raleway);
.container{
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}
#map{
	max-width: 100%;
}
.box{
	float:left;
	background-color: rgb(145,141,0)
}
.creator .box{
	box-sizing:border-box;
	border: 1px solid #ccc;
}
.active{
	background-image: url("images/dozer.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.right {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.up {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.down {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.rock{
	background-image: url("images/rock.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.wall{
	background-image: url("images/wall.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.goal{
	background-image: url("images/target.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.goal.rock{
	background-image: url("images/goal-stone.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.goal.active{
	background-image: url("images/goal-dozer.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.selected{
	border:2px solid red;
}
.game-header{
	width:100%;
	height:40px;
	padding:3px;
	font-family: 'Raleway', sans-serif;
	font-size:40px;
}
button.restart{
	float: right;
	height: 35px;
	margin-right: 4px;
	width: 100px;
	font-size: 20px;
	position: relative;
}
button.fn-selector{
	margin:10px;
	height:50px;
	width:50px;
}